<mat-toolbar class="toolbar" [ngClass]="{ 'background-filled': !backgroundTransparent, 'background-transparent': backgroundTransparent}" color="primary">
  <mat-toolbar-row class="toolbar-row">
    <div class="menu-group">
      <ng-container *ngIf="!!getLogegdInUser()">
        <mat-icon class="user-icon">account_circle</mat-icon>
        <div class="menu-option">
          {{getLogegdInUser().username}}
        </div>
      </ng-container>
    </div>

    <div class="menu-group">
      <div class="menu-option spacing" routerLink="/home" routerLinkActive="menu-option-active"> One pot gardener</div>
      <div class="menu-option spacing" routerLink="/about-us" routerLinkActive="menu-option-active"> Our mission</div>
      <div class="menu-option spacing" routerLink="/plant-list" routerLinkActive="menu-option-active"> Plants</div>
      <div class="spacing">
        <button *ngIf="!getLogegdInUser()" mat-raised-button routerLink="/login" color="primary">
          Login
        </button>
        <button *ngIf="!!getLogegdInUser()" mat-raised-button (click)="logout()" color="primary">
          Logout
        </button>
      </div>
    </div>


  </mat-toolbar-row>
</mat-toolbar>
