<mat-toolbar color="primary">

    <mat-toolbar-row>
            <span>{{ "HEADER.HOME" | translate }}</span>
            <gar-theme-switcher></gar-theme-switcher>
    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="expandMenu" routerLinkActive="active" routerLink="/about-us" (click)="expandMenu = !expandMenu" >
        <span>{{ "HEADER.ABOUT_US" | translate }}</span>
    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="expandMenu">
        <span  routerLink="/plant-list" routerLinkActive="active" >{{ "HEADER.PLANT_LIST" | translate }}</span>
    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="expandMenu">
        <span  routerLink="/my-plant" routerLinkActive="active" >{{ "HEADER.MY_PLANT" | translate }}</span>
    </mat-toolbar-row>

</mat-toolbar>
