<mat-toolbar color="primary">
  <mat-toolbar-row class="menu">
    <div>
      <button mat-icon-button routerLink="/home">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-button routerLink="/plant-list">
        {{ "HEADER.PLANT_LIST" | translate }}
      </button>
      <button mat-button routerLink="/plant-identification">
        {{ "HEADER.MY_PLANT" | translate }}
      </button>
      <button mat-button routerLink="/about-us">
        {{ "HEADER.ABOUT_US" | translate }}
      </button>
      <button mat-button routerLink="/greenhouse">
        {{ "HEADER.GREENHOUSE" | translate }}
      </button>
    </div>
    <div>
      <gar-theme-switcher></gar-theme-switcher>
    </div>
  </mat-toolbar-row>
</mat-toolbar>