mat-toolbar {
  z-index: 1;
}

.toolbar {
  position: fixed;
  background: transparent;
}

.background-transparent {
  background: transparent;
  animation: fadein 0.5s;
}

.background-filled {
  background-color: var(--primary);
  animation: fadeout 0.5s;
}

.background-filled button {
  background-color: var(--exWhite);
  color: var(--very-dark-green);
}

@keyframes fadeout {
  from {
    background-color: transparent;
  }
  to {
    background-color: var(--primary);
  }
}

@keyframes fadein {
  from {
    background-color: var(--primary);
  }
  to {
    background-color: transparent;
  }
}

.toolbar-row {
  display: flex;
  justify-content: space-between;
  background: transparent;
}

.menu-group {
  display: flex;
  justify-content: flex-end;
}

.menu-option {
  cursor: pointer;
  color: var(--exWhite);
  font-size: 17px;
  padding-bottom: 2px;
}

.menu-option:hover {
  border-bottom: var(--exWhite) solid 2px;
  padding-bottom: 0;
}

.menu-option:focus {
  outline: 0;
}

.menu-option-active {
  border-bottom: var(--exWhite) solid 2px;
  padding-bottom: 0;
}

.spacing {
  margin: 0 16px 0 16px;
}

.user-icon {
  margin-top: 4px;
  margin-right: 4px;
}

