<div class="footer" color="primary">
    <div id="contact-info">
        <h3>Contact info</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At risus viverra adipiscing at in tellus. Sagittis purus sit amet volutpat consequat mauris nunc. Pulvinar pellentesque habitant morbi tristique.</p>
    </div>
    
    <div id="order-info">
        <h3>Order info</h3>
        <p>Sodales ut eu sem integer vitae justo. Maecenas accumsan lacus vel facilisis volutpat. Ut tortor pretium viverra suspendisse potenti nullam ac. Ipsum faucibus vitae aliquet nec ullamcorper sit amet risus. Consequat interdum varius sit amet mattis. </p>
    </div>
</div>