registry=https://registry.npmjs.org
@com.iulia.local:registry=http://localhost:4873
@iuliacornea:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=88cf62ae2ed51e6c8bb9bfa5de1396969a7f780a
