registry=https://registry.npmjs.org
@com.iulia.local:registry=http://localhost:4873
@iuliacornea:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=f2e30f436f7ab34b281680629158ecd44bec6266
