registry=https://registry.npmjs.org
@com.iulia.local:registry=http://localhost:4873
@iuliacornea:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=7de1f27e03162f4d46703d605f6af1d04825d6d9
