.plant-list-container {
  margin-top: var(--headeHeight);
  background-color: var(--dark-green);
}

h1 {
  font: 700 48px/80px News Cycle, sans-serif;
  color: var(--exWhite);
  text-align: center;
}

.add-button {
  position: fixed;
  z-index: 1;
  top: 80px;
  right: 2%;
}

.add-button-xs {
  top: 130px !important;
}

.plant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
