<div class="plant-details-form-container">
  <mat-form-field appearance="outline">
    <mat-label>Plant name</mat-label>
    <input matInput [(ngModel)]="plantDetails.name">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Plant description</mat-label>
    <textarea matInput [(ngModel)]="plantDetails.description"></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Link to plan image</mat-label>
    <input matInput [(ngModel)]="plantDetails.image">
  </mat-form-field>
</div>
