.container {
  min-height: 100vh;
  background-color: var(--light-gray);
}

.gardeners-list {
  margin-top: 60px;
  height: 400px;
  background-color: var(--);
}
.add-button {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}

.plant-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 80px;
}
