<div class="container">
  <button mat-raised-button color="primary" (click)="logout()">Logout</button>
  <h1>My gardeners</h1>
  <button mat-raised-button color="primary">Order a new gardner</button>
  <div class="gardeners-list">

    <gar-gardener-card></gar-gardener-card>
    <gar-gardener-card></gar-gardener-card>

  </div>

  <div class="plants">
    <button mat-fab color="primary" routerLink="/specimen-form" class="add-button">
      <mat-icon>add</mat-icon>
    </button>

    <div class="plant-list">
      <gar-plant-card *ngFor="let specimen of specimens" [specimen]="specimen" class="plant"></gar-plant-card>
    </div>
  </div>

</div>
