<div class="garden-container">

  <div class="gardeners">
    <h1>Welcome back {{username()}}!</h1>
    <p>
      We were all born to be peaceful citizens of the world.
      Take care of our global garden just as your gardeners take care of yours.
    </p>
    <button mat-raised-button color="primary" (click)="logout()">Logout</button>

    <h1>My gardeners</h1>
    <div class="gardeners-list">
      <gar-gardener-card *ngFor="let g of gardeners" [gardener]="g"></gar-gardener-card>
    </div>
    <button mat-raised-button color="primary" routerLink="/order">Order a gardner</button>
  </div>

  <div class="plants">


    <h1>My plants</h1>

    <div class="plant-list">
      <gar-specimen-card *ngFor="let specimen of specimens" [specimen]="specimen" class="plant"></gar-specimen-card>
    </div>


    <button mat-fab color="primary" routerLink="/specimen-form" class="add-button">
      <mat-icon>add</mat-icon>
    </button>

  </div>


</div>
