<div class="gardener-card">

  <!-- Content -->
  <div class="content">

    <div class="image">
      <img src="/assets/images/gardener_1.jpg">
    </div>

    <!-- Info section -->
    <div class="info">

      <h1>
        {{gardener.name}}
      </h1>

      <!-- No statistics -->
      <div *ngIf="displayLastStatistics && !lastStatistics" class="config-info container">
        <div class="config-info">
          <label>has not registered any statistics yet</label>
        </div>
      </div>

      <!-- Last statistics -->
      <div *ngIf="displayLastStatistics && !!lastStatistics" class="statistics-info">
        <div class="statistics">
          <mat-icon aria-hidden="true" color="accent">wb_sunny</mat-icon>
          <div> Luminosity: {{lastStatistics.lightIntensityLux}}%</div>
        </div>
        <div class="statistics">
          <mat-icon aria-hidden="true" color="accent">home</mat-icon>
          <div> Air temperature: {{lastStatistics.airTemperatureCelsius}}°C</div>
        </div>
        <div class="statistics">
          <mat-icon aria-hidden="true" color="accent">cloud</mat-icon>
          <div> Air humidity: {{lastStatistics.airHumidityPercentage}}%</div>
        </div>
        <div class="statistics">
          <mat-icon aria-hidden="true" color="accent">opacity</mat-icon>
          <div> Soil moisture: {{lastStatistics.soilMoisturePercentage}}%</div>
        </div>
        <div class="statistics" [routerLink]="['/gardener-statistics', gardener.id]">
          <mat-icon aria-hidden="true">calendar_today</mat-icon>
          <button mat-button> View all time</button>
        </div>
      </div>

      <!-- Configuration -->
      <div *ngIf="!displayLastStatistics" class="config-info container">
        <div class="config-info">
          <label>WiFi network</label>
          <div>{{gardener.wifiNetwork}}</div>
        </div>
        <div class="config-info">
          <label>WiFi password</label>
          <div>{{gardener.wifiPassword}}</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div class="buttons">
    <div class="bottom-button">
      <button mat-button (click)="displayLastStatistics=true">Last statistics</button>
    </div>
    <div class="vertical-divider"></div>
    <div class="bottom-button" (click)="displayLastStatistics=false">
      <button mat-button>Configuration</button>
    </div>
  </div>

</div>
