.gardener-card {
  width: 300px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  margin-bottom: 24px;
}

.content {
  width: 300px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.image {
  padding-top: 10px;
  width: 300px;
  height: 160px;
  background-image: linear-gradient(to top, var(--dark-green) 50%, var(--primary) 50%);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.info h1 {
  margin-bottom: 12px;
  color: var(--exWhite);
  font-family: Catamaran, sans-serif;
}

.info {
  height: 240px;
  width: 300px;
  background-color: var(--dark-green);
  color: var(--exWhite);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

label {
  font-family: Catamaran, sans-serif;
  font-size: 18px;
  margin-top: 4px;
}

img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 100%;
}

.buttons {
  background-color: var(--primary);
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.bottom-button {
  margin: 20px 0 20px 0;
  cursor: pointer;
}

.vertical-divider {
  width: 1px;
  opacity: 90%;
  background-color: var(--light-gray);
  height: 45px;
  margin: 14px 0 4px 0;
}

.config-info {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.garden-container {
  margin-top: 30px;
}

.statistics-info {
  margin-top: 10px;
}

.statistics {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

mat-icon {
  margin-right: 4px;
}
