<div class="gardener-card">
  <div class="content">
    <div class="image">
      <img src="/assets/images/gardener_1.jpg">

    </div>
    <div class="info">
      <h1>
        Jose Mandinga
      </h1>
      <div *ngIf="!displayLastStatistics" class="config-info container">
        <div class="config-info">
          <label>WiFi network: </label>
          <div>Martin Router King</div>
        </div>
        <div class="config-info">
          <label>WiFi password: </label>
          <div>password123</div>
        </div>
      </div>

      <div *ngIf="displayLastStatistics" class="statistics-info container">
        <div class="statistics">
          <mat-icon aria-hidden="true" color="accent">opacity</mat-icon>
          <div> Soil humidity: Medium</div>
        </div>
        <div class="statistics">
          <mat-icon aria-hidden="true" color="accent">brightness_medium</mat-icon>
          <div> Luminosity: 122</div>
        </div>
        <div class="statistics">
          <mat-icon aria-hidden="true" color="accent">cloud_queue</mat-icon>
          <div> Air temperature: 23°C</div>
        </div>
        <div class="statistics">
          <mat-icon aria-hidden="true" color="accent">cloud_circle</mat-icon>
          <div> Air humidity: 66%</div>
        </div>
      </div>

    </div>
  </div>
  <div class="buttons">
    <div class="bottom-button">
      <button mat-button (click)="toggleInfoDisplay()">Last statistics</button>
    </div>
    <div class="vertical-divider"></div>
    <div class="bottom-button" (click)="toggleInfoDisplay()">
      <button mat-button>Configuration</button>
    </div>
  </div>
</div>
