<div class="container">

  <div class="info">
    <h1>What it is</h1>
    <p>
      A potted plant with it's own, private gardener.
      The One pot gardener, as the name says is an semi-automated gardener for one pot.
    </p>
    <h1>What it does</h1>
    <p>
      It automatically waters your plant per its specific needs. On top of that,
      it will also tell you if your plant
      has enough light, is in an appropriately dry setting and
      it's surrounding temperature is not too cold or too hot.
    </p>
    <h1>How it does it</h1>
    <p>
      With some sensors that monitor your plant's environment, a microcontroller,
      a water pump and (this is where you come in)
      a water supply that you need to provide for the gardener, it will take good care of
      your plant no matter if you are on vacation or not.
    </p>
    <h1>How it looks like</h1>
    <p>
      Here is the best part! It can look however you want. Whichever shape, color, texture or size.
      After you fill in our form to get your one pot gardener, somebody from our team will get in contact
      with you and you will discuss this together. Choosing the best plant for you and your apartment and
      making sure it stays alive, has never been easier.
    </p>
  </div>

  <div class="order">
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Gardener name</mat-label>
      <input matInput [formControl]="gardenerName">
      <mat-error>You must specify a name for your gardener</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Home WiFi network name</mat-label>
      <input matInput [formControl]="wifiNetwork">
      <mat-error>Gardener needs to know to which WiFi to connect</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>WiFi password</mat-label>
      <input matInput [formControl]="wifiPassword" [type]="hidePass ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error>Gardener needs to know to the password in order to connect to the WiFi network</mat-error>
    </mat-form-field>

    <button mat-raised-button (click)="onSave()">Order</button>
  </div>


</div>
