:host {
  height: 100%;
  margin-top: var(--headeHeight);
}

.login-page {
  background:linear-gradient(to right, var(--dark-green) 0, var(--dark-green) 20%, var(--exWhite) 20%, var(--exWhite) 80%, var(--dark-green) 80%, var(--dark-green) 100%);
  /*background-color: var(--dark-green);*/
  display: flex;
  flex-flow: column;
  justify-content: start;
  padding-top: 10%;
  align-items: center;
  min-height: 90%;
}

.mobile-login {
  padding-top: 30% !important;
  min-height: 65vh !important;
}

.login-form {
  min-width: 40%;
  background-color: var(--exWhite);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
}

.login-form-column {
  width: 100%;
  display: flex;
  flex-flow: column;
  margin-top: 24px;
}

.form-buttons {
  width: 100%;
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}
