.login-page {
  background-color: var(--dark-green);
  display: flex;
  flex-flow: column;
  align-items: center;
}

.mobile-login {
  padding-top: 30% !important;
  min-height: 65vh !important;
}

.login-form {
  min-width: 40%;
  background-color: var(--exWhite);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 75vh;
  padding-top: 10%;
  margin-top: 64px;
  padding-right: 10px;
  padding-left: 10px;
}

.login-form-column {
  width: 100%;
  display: flex;
  flex-flow: column;
  margin-top: 24px;
}

.form-buttons {
  width: 100%;
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}
