.page {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
}

.scrollable {  
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
    overflow: overlay;
}