<div class="plant-growing-configs-form">

  <!-- Name -->
  <mat-form-field appearance="outline">
    <mat-label>Growing configuration name</mat-label>
    <input matInput [formControl]="name">
    <mat-error>You must specify a name for this configuration</mat-error>
  </mat-form-field>

  <!-- Watering interval in days -->
  <mat-form-field appearance="outline">
    <mat-label>Watering interval in days</mat-label>
    <input matInput [formControl]="wateringIntervalDays" type="number">
    <mat-error>You must specify an watering interval (in days)</mat-error>
  </mat-form-field>

  <label>Air humidity</label>
  <div>
    <!-- Minimum air humidity -->
    <mat-form-field appearance="outline">
      <mat-label>Minimum</mat-label>
      <input matInput [formControl]="airHumidityMin" type="number">
      <span matSuffix>%</span>
    </mat-form-field>

    <!-- Maximum air humidity -->
    <mat-form-field appearance="outline">
      <mat-label>Maximum</mat-label>
      <input matInput [formControl]="airHumidityMax" type="number">
      <span matSuffix>%</span>
    </mat-form-field>
  </div>

  <label>Surrounding temperature in hot season</label>
  <div>
    <!-- Minimum temperature in hot season -->
    <mat-form-field appearance="outline">
      <mat-label>Minimum</mat-label>
      <input matInput [formControl]="airTemperatureSummerMin" type="number">
      <span matSuffix>°</span>
    </mat-form-field>

    <!-- Maximum temperature in hot season -->
    <mat-form-field appearance="outline">
      <mat-label>Maximum</mat-label>
      <input matInput [formControl]="airTemperatureSummerMax" type="number">
      <span matSuffix>°</span>
    </mat-form-field>
  </div>

  <label>Surrounding temperatue in cold season</label>
  <div>
    <!-- Minimum temperature in cold season -->
    <mat-form-field appearance="outline">
      <mat-label>Minimum</mat-label>
      <input matInput [formControl]="airTemperatureWinterMin" type="number">
      <span matSuffix>°</span>
    </mat-form-field>

    <!-- Maximum temperature in cold season -->
    <mat-form-field appearance="outline">
      <mat-label>Maximum</mat-label>
      <input matInput [formControl]="airTemperatureWinterMax" type="number">
      <span matSuffix>°</span>
    </mat-form-field>
  </div>


  <label>Light intensity</label>
  <div>
    <!-- Minimum light intensity -->
    <mat-form-field appearance="outline">
      <mat-label>Minimum</mat-label>
      <input matInput [formControl]="lightIntensityMin" type="number">
      <span matSuffix>LUX</span>
    </mat-form-field>

    <!-- Maximum light intensity -->
    <mat-form-field appearance="outline">
      <mat-label>Maximum</mat-label>
      <input matInput [formControl]="lightIntensityMax" type="number">
      <span matSuffix>LUX</span>
    </mat-form-field>
  </div>

  <label>Soil moisture in hot season</label>
  <div>
    <!-- Minimum soil moisture in hot season -->
    <mat-form-field appearance="outline">
      <mat-label>Minimum</mat-label>
      <input matInput [formControl]="soilMoistureSummerMin" type="number">
      <span matSuffix>%</span>
    </mat-form-field>

    <!-- Maximum soil moisture in hot season -->
    <mat-form-field appearance="outline">
      <mat-label>Maximum</mat-label>
      <input matInput [formControl]="soilMoistureSummerMax" type="number">
      <span matSuffix>%</span>
    </mat-form-field>
  </div>

  <label>Soil moisture in cold season</label>
  <div>
    <!-- Minimum soil moisture in cold season -->
    <mat-form-field appearance="outline">
      <mat-label>Minimum</mat-label>
      <input matInput [formControl]="soilMoistureWinterMin" type="number">
      <span matSuffix>%</span>
    </mat-form-field>

    <!-- Maximum soil moisture in cold season -->
    <mat-form-field appearance="outline">
      <mat-label>Maximum</mat-label>
      <input matInput [formControl]="soilMoistureWinterMax" type="number">
      <span matSuffix>%</span>
    </mat-form-field>
  </div>

</div>
