.plant-growing-configs-form {
  display: flex;
  flex-flow: column;
}

mat-button-toggle-group {
  margin-top: 4px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  border: none;
  /* align-items: flex-start; */
}

mat-button-toggle {
  width: 17%;
}

.mat-button-toggle-group-appearance-standard .mat-button-toggle+.mat-button-toggle {
border: none;
}

