.plant-growing-configs-form {
  width: 100%;
  display: flex;
  flex-flow: column;
  margin-top: 24px;
}

.plant-growing-configs-form div {
  display: flex;
  justify-content: space-between;
}
