<div *ngIf="!!plant" class="plant-example">
  <img src="{{plant.image}}">
  <h3>{{plant.name}}</h3>
  <div class="description">{{plant.description}}</div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Requirements
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="requirements">
        <mat-divider class="pb-10"></mat-divider>
        <div class="requirements-row">
          <mat-icon>wb_sunny</mat-icon>
          <div class="requirements-info"> Light intensity between {{plant.growingConfiguration?.lightIntensityMin}}%
            - {{plant.growingConfiguration?.lightIntensityMax}}%.
          </div>
        </div>
        <div class="requirements-row">
          <mat-icon>home</mat-icon>
          <div class="requirements-info"> Temperature between {{plant.growingConfiguration?.airTemperatureSummerMin}}°C
            - {{plant.growingConfiguration?.airTemperatureSummerMax}}°C in summer
            and {{plant.growingConfiguration?.airTemperatureWinterMin}}°C
            - {{plant.growingConfiguration?.airTemperatureWinterMax}}°C in winter.
          </div>
        </div>
        <div class="requirements-row">
          <mat-icon>cloud</mat-icon>
          <div class="requirements-info"> Air humidity between {{plant.growingConfiguration?.airHumidityMin}}%
            - {{plant.growingConfiguration?.airHumidityMax}}%.
          </div>
        </div>
        <div class="requirements-row">
          <mat-icon>opacity</mat-icon>
          <div class="requirements-info"> Soil moisture between {{plant.growingConfiguration?.soilMoistureSummerMin}}%
            - {{plant.growingConfiguration?.soilMoistureSummerMax}}% in summer
            and {{plant.growingConfiguration?.soilMoistureWinterMin}}%
            - {{plant.growingConfiguration?.soilMoistureWinterMax}}% in winter.
          </div>
        </div>
        <div class="requirements-row">
          <mat-icon>hourglass_bottom</mat-icon>
          <div class="requirements-info">Water regularly every {{plant.growingConfiguration?.wateringIntervalDays}}
            days.
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
