.card {
  width: 300px;
  margin-bottom: 40px;
  margin-right: 24px;
  margin-left: 24px;
}

.card-image {
  height: 240px;
  object-fit: cover;
}

.mat-card-content {
  min-height: 100px;
  overflow: hidden;
}

.stat {
  border: solid 2px;
  border-color: var(--main-bg-color);
  border-radius: 5px;
  height: 24px;
  margin-bottom: 8px;
}

.plant-example {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0 20px 80px 20px;
  width: 300px;
  overflow: hidden;
  color: var(--exWhite);
}

.plant-example h3 {
  font-family: News Cycle, sans-serif;
  font-size: 20px;
}

img {
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
}

.description {
  height: 80px;
  overflow: hidden;
}

.requirements {
  height: 300px;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.pb-10 {
  padding-bottom: 10px;
}

.requirements-row {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

.requirements-info {
  margin-left: 15px;
}

button {
  margin-top: 10px;
  width: 120px;
}

mat-expansion-panel-header, mat-expansion-panel-header.mat-expanded {
  height: 40px;
}
