<!--<mat-card *ngIf="!!plant" class="card">-->
<!--  <mat-card-header>-->
<!--    <mat-card-title>{{plant.name}}</mat-card-title>-->
<!--  </mat-card-header>-->
<!--  <img mat-card-image src="{{plant.image}}" class="card-image">-->
<!--  <mat-card-content>-->
<!--    <p>-->
<!--      {{plant.description}}-->
<!--      {{plant.image}}-->
<!--    </p>-->
<!--  </mat-card-content>-->
<!--</mat-card>-->

<mat-card *ngIf="!!specimen" class="card">
  <mat-card-header>
    <mat-card-title>{{specimen.name}}</mat-card-title>
    <mat-card-subtitle>{{specimen.plantType.name}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{specimen.plantType.image}}" class="card-image">
  <mat-card-content>
    <p>
      {{specimen.season}}
    </p>
    <div class="stat">
      <mat-icon aria-hidden="true" color="accent">opacity</mat-icon>
      <span> Soil humidity: Medium</span>
    </div>
    <div class="stat">
      <mat-icon aria-hidden="true" color="accent">brightness_medium</mat-icon>
      <span> Luminosity: 122</span>
    </div>
    <div class="stat">
      <mat-icon aria-hidden="true" color="accent">cloud_queue</mat-icon>
      <span> Air temperature: 23°C</span>
    </div>
    <div class="stat">
      <mat-icon aria-hidden="true" color="accent">cloud_circle</mat-icon>
      <span> Air humidity: 66%</span>
    </div>
  </mat-card-content>
</mat-card>


<div *ngIf="!!plant" class="plant-example">
  <img src="{{plant.image}}">
  <h3>{{plant.name}}</h3>
  <div class="description">{{plant.description}}</div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Requirements
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="requirements">
        <mat-divider class="pb-10"></mat-divider>
        <div class="requirements-row">
          <mat-icon>wb_sunny</mat-icon>
          <div class="requirements-info"> Light intensity between {{plant.growingConfiguration?.lightIntensityMin}}lux
            - {{plant.growingConfiguration?.lightIntensityMax}}lux.
          </div>
        </div>
        <div class="requirements-row">
          <mat-icon>home</mat-icon>
          <div class="requirements-info"> Temperature between {{plant.growingConfiguration?.airTemperatureSummerMin}}°C
            - {{plant.growingConfiguration?.airTemperatureSummerMax}}°C in summer
            and {{plant.growingConfiguration?.airTemperatureWinterMin}}°C
            - {{plant.growingConfiguration?.airTemperatureWinterMax}}°C in winter.
          </div>
        </div>
        <div class="requirements-row">
          <mat-icon>cloud</mat-icon>
          <div class="requirements-info"> Air humidity between {{plant.growingConfiguration?.airHumidityMin}}%
            - {{plant.growingConfiguration?.airHumidityMax}}%.
          </div>
        </div>
        <div class="requirements-row">
          <mat-icon>opacity</mat-icon>
          <div class="requirements-info"> Soil moisture between {{plant.growingConfiguration?.soilMoistureSummerMin}}%
            - {{plant.growingConfiguration?.soilMoistureSummerMax}}% in summer
            and {{plant.growingConfiguration?.soilMoistureWinterMin}}%
            - {{plant.growingConfiguration?.soilMoistureWinterMax}}% in winter.
          </div>
        </div>
        <div class="requirements-row">
          <mat-icon>hourglass_bottom</mat-icon>
          <div class="requirements-info">Water regularly every {{plant.growingConfiguration?.wateringIntervalDays}}
            days.
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>


</div>
