.home {
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://jimdo-storage.freetls.fastly.net/image/37e0d084-cd97-4868-81bf-4a260ea18679.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 1000px;
}

.quote {
  color: var(--primary);
  max-width: 800px;
}

h1 {
  font: 700 48px/80px News Cycle, sans-serif;
}

h3 {
  font: 400 28px/64px News Cycle, sans-serif;
}

.quote p, .plants p {
  color: var(--exWhite);
  font-size: 18px;
  line-height: 30px;
  font-family: Catamaran,sans-serif;
}

.quote button {
  margin-top: 40px;
}

.testimonials {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 80px;
}

.plant-example {
  margin: 0 20px 80px 20px;
  width: 350px;
}

img {
  height: 500px;
  object-fit: contain;
}

.about-us {
  height: 500px;
  background-color: var(--dark-green);
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle {
  width: 40%;
  min-height: 200px;
  border: 3px solid var(--exWhite);
  padding: 40px 80px 20px 80px;
  color: var(--exWhite);
  text-align: center;
}

.rectangle p {
  color: var(--exWhite);
  font-size: 18px;
  line-height: 30px;
  font-family: Catamaran,sans-serif;
}


.plants {
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://jimdo-storage.freetls.fastly.net/image/35b59a88-e58d-40c2-81ad-c3b1ef1f22a8.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.plants-content {
  margin-top: 40px;
  max-width: 40%;
}

.plants h3 {
  font: 600 40px/64px News Cycle, sans-serif;
  color: var(--primary);
}


.info {
  background-color: var(--accent);
  color: var(--exWhite);
  padding: var(--form-fields-margin-top) 140px var(--form-fields-margin-top) 140px;
}

.info h1 {
  font-size: 18px;
  font-weight: 700;
  font-family: News Cycle,sans-serif;
  color: var(--primary);
}

.info mat-divider {
  background-color: var(--exWhite);
}
