<div class="section">
  <label>{{"FORM.PLANT_STEM_TYPES" | translate}}</label>
  <mat-button-toggle-group #plantTypeGroup="matButtonToggleGroup" [(ngModel)]="featuresConfig.stemType">
    <mat-button-toggle *ngFor="let val of stemType" value="{{val}}">
      {{"FORM.PLANT_STEM_TYPE." + val | translate}}
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>

<mat-divider></mat-divider>

<div class="section">
  <label>{{"FORM.FLOWERS" | translate}}</label>
  <mat-button-toggle-group #flowerGroup="matButtonToggleGroup"
                           [(ngModel)]="featuresConfig.flowerExistance">
    <mat-button-toggle *ngFor="let val of flowerExistance" value="{{val}}">
      {{"FORM.FLOWER." + val | translate}}
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div class="section">
  <label>{{"FORM.FLOWER_SHAPE_TYPES" | translate}}</label>
  <mat-button-toggle-group #flowerShapeTypeGroup="matButtonToggleGroup"
                           [(ngModel)]="featuresConfig.flowerShape">
    <mat-button-toggle *ngFor="let val of flowerShape" value="{{val}}">
      {{"FORM.FLOWER_SHAPE_TYPE." + val | translate}}
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div class="section">
  <label>{{"FORM.FLOWER_PETAL_TYPES" | translate}}</label>
  <mat-button-toggle-group #flowerPetalTypeGroup="matButtonToggleGroup"
                           [(ngModel)]="featuresConfig.flowerPetals">
    <mat-button-toggle *ngFor="let val of flowerPetals" value="{{val}}">
      {{"FORM.FLOWER_PETAL_TYPE." + val | translate}}
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>

<mat-divider></mat-divider>

<div class="section">
  <label>{{"FORM.LEAVES" | translate}}</label>
  <mat-button-toggle-group #leafGroup="matButtonToggleGroup"
                           [(ngModel)]="featuresConfig.leafDivisionOfBlade">
    <mat-button-toggle *ngFor="let val of leafDivisionOfBlade" value="{{val}}">
      {{"FORM.LEAF." + val | translate}}
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div class="section">
  <label>{{"FORM.LEAF_TYPES" | translate}}</label>
  <mat-button-toggle-group #leafTypeGroup="matButtonToggleGroup"
                           [(ngModel)]="featuresConfig.leafArrangementOnTheStem">
    <mat-button-toggle *ngFor="let val of leafArrangementOnTheStem" value="{{val}}">
      {{"FORM.LEAF_TYPE." + val | translate}}
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div class="section">
  <label>{{"FORM.LEAF_BRANCHING_PATTERN_TYPES" | translate}}</label>
  <mat-button-toggle-group #leafBranchingPatternTypeGroup="matButtonToggleGroup"
                           [(ngModel)]="featuresConfig.leafSurface">
    <mat-button-toggle *ngFor="let val of leafSurface" value="{{val}}">
      {{"FORM.LEAF_BRANCHING_PATTERN_TYPE." + val | translate}}
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div class="section">
  <label>{{"FORM.LEAF_TEXTURE_TYPES" | translate}}</label>
  <mat-button-toggle-group #leafTextureTypeGroup="matButtonToggleGroup"
                           [(ngModel)]="featuresConfig.leafTexture">
    <mat-button-toggle *ngFor="let val of leafTexture" value="{{val}}">
      {{"FORM.LEAF_TEXTURE_TYPE." + val | translate}}
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div class="section">
  <label>{{"FORM.LEAF_VINE_TYPES" | translate}}</label>
  <mat-button-toggle-group #leafVineTypeGroup="matButtonToggleGroup"
                           [(ngModel)]="featuresConfig.leafVeinType">
    <mat-button-toggle *ngFor="let val of leafVeinType" value="{{val}}">
      <img src="https://st3.depositphotos.com/1041273/12498/v/450/depositphotos_124980646-stock-illustration-red-rose-cartoon.jpg">
      <p>{{"FORM.LEAF_VEIN_TYPE." + val | translate}}</p>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>

<mat-divider></mat-divider>

<div class="section">
  <label>{{"FORM.SPIKES" | translate}}</label>
  <mat-button-toggle-group #spikeGroup="matButtonToggleGroup" [(ngModel)]="featuresConfig.stemSpikes">
    <mat-button-toggle *ngFor="let val of stemSpikes" value="{{val}}">
      {{"FORM.SPIKE." + val | translate}}
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
