<div class="statistics">
  <h1 *ngIf="!specimenName && !!gardenerName">
    One pot statistics from gardener {{gardenerName}}
  </h1>
  <h1 *ngIf="!!specimenName && !gardenerName">
    One pot statistics for plant {{specimenName}}
  </h1>



  <table mat-table [dataSource]="dataSource" class="statistics-table">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="receivedAt">
      <th mat-header-cell *matHeaderCellDef>Received at</th>
      <td mat-cell *matCellDef="let element"> {{element.receivedAt | date: " dd MMM HH:mm"}} </td>
    </ng-container>

    <ng-container matColumnDef="airTemperatureCelsius">
      <th mat-header-cell *matHeaderCellDef>Air temperature</th>
      <td mat-cell *matCellDef="let element"> {{element.airTemperatureCelsius}}°C </td>
    </ng-container>

    <ng-container matColumnDef="airHumidityPercentage">
      <th mat-header-cell *matHeaderCellDef>Air humidity</th>
      <td mat-cell *matCellDef="let element"> {{element.airHumidityPercentage}}% </td>
    </ng-container>

    <ng-container matColumnDef="lightIntensityLux">
      <th mat-header-cell *matHeaderCellDef> Light intensity</th>
      <td mat-cell *matCellDef="let element"> {{element.lightIntensityLux}}% </td>
    </ng-container>

    <ng-container matColumnDef="lightIntensityRaw">
      <th mat-header-cell *matHeaderCellDef> Light intensity <br>  (raw value)</th>
      <td mat-cell *matCellDef="let element"> {{element.lightIntensityRaw}} </td>
    </ng-container>

    <ng-container matColumnDef="soilMoisturePercentage">
      <th mat-header-cell *matHeaderCellDef> Soil moisture</th>
      <td mat-cell *matCellDef="let element"> {{element.soilMoisturePercentage}}% </td>
    </ng-container>

    <ng-container matColumnDef="soilMoistureRaw">
      <th mat-header-cell *matHeaderCellDef> Soil moisture  <br>  (raw value)</th>
      <td mat-cell *matCellDef="let element"> {{element.soilMoistureRaw}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <ng-container *ngIf="!dataSource || dataSource.length == 0">
    <mat-divider></mat-divider>
    <p>There is not data available</p>
  </ng-container>
</div>


