<div class="plant-form">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Details">
      <gar-plant-details-form class="plant-form-column" [(value)]="plantDetails"></gar-plant-details-form>
    </mat-tab>
    <mat-tab label="Features">
      <gar-plant-features-form class="plant-form-column" [(value)]="featuresConfig"></gar-plant-features-form>
    </mat-tab>
    <mat-tab label="Growing">
      <gar-plant-growing-configs-form class="plant-form-column" [(value)]="growingCofig"></gar-plant-growing-configs-form>
    </mat-tab>
  </mat-tab-group>







</div>

<button (click)="toConsole()">To console</button>



