.plant-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

.plant-form-column {
  width: 500px;
  display: flex;
  flex-flow: column;
}

.form-buttons {
  width: 500px;
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}
