:host {
  height: 100%;
  margin-top: var(--headerHeight);
  padding: 20px 0 20px 0;
}

.content-container {
  height: 100%;
}

.plant-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

@media screen and (min-width: 980px) {
  .plant-form-column {
    width: 600px;
    display: flex;
    flex-flow: column;
  }

  .form-buttons {
    width: 600px;
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
  }

}

@media screen and (max-width: 979px) {
  .plant-form-column {
    width: 500px;
    display: flex;
    flex-flow: column;
  }

  .form-buttons {
    width: 500px;
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
  }
}
